*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	background-color: rgb(34, 34, 34);
}
.body {
	background: url('../img/1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.container {
	max-width: 1360px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

nav {
	border-bottom: 1px solid rgb(58, 58, 58);
}
.nav__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}
.nav__row ul {
	margin: 0;
}
.logo,
.logo a {
	font-size: 35px;
	cursor: pointer;

	margin-right: 35px;
	color: wheat;
	font-family: cursive;
	text-shadow: 4px 4px 6px black;
}

.logo a:hover {
	transition: 0.3s;
	color: rgb(31, 180, 221);
}

ul li {
	display: inline-block;
	cursor: pointer;
	font-size: 30px;
	margin-left: 35px;

	color: rgb(31, 180, 221);
	font-family: cursive;
	text-shadow: 4px 4px 6px black;
}

ul li a:hover {
	color: wheat;
	transition: 0.3s;
	border-bottom: solid 1px wheat;
}

ul li a {
	display: inline-block;
}

a {
	text-decoration: none;
	color: rgb(31, 180, 221);
	font-family: cursive;
	text-shadow: 4px 4px 6px black;
}
.active {
	border-bottom: solid 1px rgb(31, 180, 221);
	pointer-events: none;
}

footer {
	margin-top: auto;
	border-top: 1px solid rgb(58, 58, 58);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 50px;
	column-gap: 100px;
	font-family: cursive;
	text-shadow: 4px 4px 6px black;
}

/* Goods */

.main {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.main__img {
	max-width: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.main__media {
	margin-left: 60px;
	max-width: 450px;
}
.h1 {
	margin-top: 50px;
	font-size: 45px;
	color: white;
	font-family: cursive;

	text-shadow: 4px 4px 6px black;
}

.price {
	font-size: 70px;
	color: rgb(228, 214, 14);
	font-family: cursive;
	margin-top: 60px;
	margin-left: 50px;
	text-shadow: 4px 4px 6px black;
	font-weight: bold;
}
.price del {
	margin-left: 60px;
	color: rgb(165, 158, 57);
	font-size: 50px;
}

.btn-cont {
	display: flex;
	margin-top: 60px;
}

button {
	margin-left: 50px;
	font-family: cursive;
	padding: 15px 30px;

	background-color: black;
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	border: solid 1px black;
}

button:hover {
	background-color: white;
	color: black;
	transition: 0.5s;
	border: solid 1px rgb(255, 255, 255);
}

.btm-m {
	text-align: center;

	padding: 15px 50px;
	cursor: pointer;
	border: solid 1px white;
	font-size: 18px;
	color: black;
	border-radius: 5px;
	background-color: white;
	font-family: cursive;
}

.btm-m:hover {
	background-color: black;
	color: white;
	transition: 0.5s;
	border: solid 1px black;
}
/* //goods */

/* about */
.container__text {
	display: flex;
	padding: 0 25px;
	justify-content: space-between;
	width: 100%;
}

.media {
	width: 50%;
}

h2 {
	font-size: 40px;
	color: white;
	margin-top: 40px;
	text-shadow: 4px 4px 6px black;
}

.text {
	width: 100%;
	font-size: 18px;
	color: white;
	margin-top: 20px;
	text-shadow: 4px 4px 6px black;
}

.media-right {
	width: 50%;
	margin-left: 40px;
}
/* //about */

/* projects */
.section {
	display: flex;
	justify-content: space-between;
	font-family: cursive;
}

.section-img {
	max-width: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.content-list {
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	color: white;
	text-shadow: 4px 4px 6px black;
}
.title-1 {
	margin: 0;
	padding: 50px 0 35px;
	font-size: 40px;
	color: white;
}

/* //projects */

/* Contact */
.section_1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.img3 {
	max-width: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 35px;
}

.img3 img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.content-list_3 {
	margin: 0 auto;
	max-width: 570px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/* row-gap: 40px; */
}

.content-list_3 a {
	color: rgb(10, 10, 224);
}

.content-list__item {
	font-size: 18px;
	line-height: 1.5;
	color: white;
}

h3 {
	font-size: 30px;
}

/* ///* Contact */

/* Иконка бургерменю */

.burger {
	display: none;
	position: relative;
	z-index: 50;
	align-items: center;
	justify-content: flex-end;
	width: 30px;
	height: 18px;
}

.burger span {
	height: 2px;
	width: 80%;
	transform: scale(1);
	background-color: #faf6f2;
}

.burger::before,
.burger::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #faf6f2;
	transition: all 0.3s ease 0s;
}

.burger::before {
	top: 0;
}

.burger::after {
	bottom: 0;
}

/* Добавляем класс active для анимации иконки бургера */
.burger.activ span {
	transform: scale(0);
}

.burger.activ::before {
	top: 50%;
	transform: rotate(-45deg) translate(0, -50%);
}

.burger.activ::after {
	bottom: 50%;
	transform: rotate(45deg) translate(0, 50%);
}

.open {
	display: flex !important;
}

@media (max-width: 1115px) {
	.img3 {
		max-width: 500px;
	}
}

@media (max-width: 1025px) {
	.title-1 {
		padding: 30px 0 15px;
		font-size: 35px;
	}
	.text {
		font-size: 16px;

		margin-top: 0;
	}

	.text-projects {
		min-width: 400px;
	}

	h2 {
		font-size: 35px;
	}
	h3 {
		font-size: 20px;
		margin: 15px 0;
	}
}

/* При разрешении экрана 900px и ниже, выводим на экран иконку бургера */
@media (max-width: 964px) {
	.burger {
		display: flex;
	}

	.nav-list {
		display: none;
		flex-direction: column;
		row-gap: 30px;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 50;
		overflow-y: auto;
		padding: 50px 40px;
		background-color: rgb(34, 34, 34);
		animation: burgerAnimation 0.4s;
	}

	.main {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}

	.price {
		margin-top: 30px;
	}

	.btn-cont {
		margin: 30px 0;
	}

	.container__text {
		flex-direction: column;
	}
	.media {
		width: 100%;
	}

	.media-right {
		width: 100%;
		margin-left: 0;
	}

	.section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	}

	.section_1 {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
	}
	.content-list_3 {
		text-align: center;
		padding: 0;
	}

	.img3 {
		margin-left: 0;
	}
	.main__media {
		margin-left: 0px;
	}
}

@keyframes burgerAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
